.git/
.vs/
.idea/
.vscode/

**/bin/
**/obj/
**/TestResults/
TestResults/

**/logs/
**/Logs/
logs/
Logs/

**/*.user
**/*.suo

**/appsettings.Development.json
**/appsettings.local*.json

Dockerfile
.dockerignore

README.md
docs/