<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [*.UnitTests]*,
            [*.IntegrationTests]*,
            [*.ApiTests]*,
            [*.Test]*,
            [*.Tests]*
          </Exclude>
          <ExcludeByFile>
            **/Migrations/**/*.cs,
            **/Program.cs,
            **/obj/**/*.cs,
            **/bin/**/*.cs
          </ExcludeByFile>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>